*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-family: georgia,serif;
  color: #040004;
}

a {
  text-decoration: none;
  color: #FA023C;
}

.container {
  padding: 0 1.5rem;
}

.hero {
  padding-bottom: 1.5rem;
  /*background-color: $hero;*/
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: 300;
}

nav .menu {
  float: right;
}

nav .menu li {
  float: left;
  padding-left: 0.85em;
}

.logo {
  display: inline-block;
}

p {
  padding-bottom: 1em;
  font-style: italic;
}

.about {
  padding: 1.5em 1.5em 0 1.5em;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  background-image: li;
  background-image-display: inline;
  background-image-font-style: italic;
  background-image-float: left;
}

.work ul {
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  padding: 20px 0;
  text-align: left;
}
.work li {
  position: relative;
  width: 22rem;
  height: 23rem;
  display: inline-block;
  margin: 2rem;
  border: 5px solid #413D3D;
  float: left;
  transition: all .2s;
}
.work li:first-child {
  border: 5px dashed #413D3D;
}
.work li:hover {
  cursor: pointer;
  background: #413D3D;
  color: #fff;
  transition: all .2s;
}
.work li:hover:first-child {
  border: 5px dashed #fff;
}
.work li:hover span:last-child {
  bottom: 3.5rem;
  transition: bottom .2s;
}
.work li span {
  display: inline-block;
}
.work li span:nth-child(2n) {
  display: block;
}
.work li span:last-child {
  position: absolute;
  bottom: 2.5rem;
  transition: bottom .2s;
}
.work li a {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 2.5rem;
}
.work li .year {
  font-size: .8em;
  border-bottom: 3px solid #413D3D;
  padding: 0 1rem .5rem 1rem;
}
.work li div {
  padding-top: 1rem;
}

/*.heading {
	font-family: 'Ubuntu', sans-serif;
}
*/
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.email {
  display: inline-block;
  /*float: left;*/
}
.email ul {
  display: inline-block;
  float: left;
}
