/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.card-list {
  margin: 0 auto;
  padding: 0;
  width: 52em;
}
.card-list > li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.33333%;
}
.card-list .card {
  margin: 1em;
  height: 14em;
  border: 1px solid black;
}

.year {
  font-size: .8em;
  border-bottom: 3px solid #88ABC2;
  padding: 0 1rem .5rem 1rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
.overlay.open nav ul {
  opacity: 1;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.overlay nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.overlay nav ul li {
  display: block;
  min-height: 54px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-family: georgia,serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: #596DFF;
}

.container {
  padding: 4em 1.5rem;
}

.hero {
  /*background-color: $hero;*/
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

nav .menu {
  float: right;
}

nav .menu li {
  float: left;
  padding-left: 4vw;
}

.logo {
  display: inline-block;
}

p {
  padding-bottom: 1em;
  font-style: italic;
}

.about {
  padding: 1.5em 1.5em 0 1.5em;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  background-image: li;
  background-image-display: inline;
  background-image-font-style: italic;
  background-image-float: left;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 8vw;
  font-weight: 300;
  text-align: center;
}

.email {
  display: inline-block;
}
.email ul {
  display: inline-block;
  float: left;
}
