@import "variables";

.hamburger {
  width: 30px;
  height: 51px;
  position: fixed;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  top: -100px;
  right: 25px;
  z-index: 1;
  transition: top 0.5s cubic-bezier(0.4, 0, 1, 1);

  span {
    display: block;
    position: absolute;
    height: 15px;
    width: 65px;
    border: 3px solid #000;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 18px;
  }

  span:nth-child(3) {
    top: 36px;
  }

  &.open span {
    background-color: $link-font-color;
    border: 0;
  }

  &.open span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
  }

  &.open span:nth-child(2) {
    right: -100px;
  }

  &.open span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
  }
}


 @media (max-width: (2 * ($card-min + $gap) - 1px)) {
   .hamburger {
     right: .5rem;
   }
 }

.hamburger-hover span {

  &:nth-child(1) {
    top: -5px;
    transition: top 0.1s;
  }

  &:nth-child(3) {
    top: 41px;
    transition: top 0.1s;
  }
}

.drop-hamburger {
  transition: top 0.5s ease;
  top: 1.5rem;
}

@media (max-width: 755px) {
  .hamburger, .drop-hamburger {
    top: .5rem;
  }
}
