@import 'clearfix';
@import 'variables';
@import 'cards';
@import 'fullScreenMenu';
@import 'hamburger';

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: georgia,serif;
    color: $primary-font-color;
    background-color: #EEE5D8;
}

a {
	text-decoration: none;
	color: $link-font-color;
}

.container {
    padding: 4em 1.5rem;
}

// mobile
@media (max-width: (2 * ($card-min + $gap) - 1px)) {
  .container {
    padding: 2em 0;
  }
}

// tablet
@media (min-width: (2 * ($card-min + $gap)))
        and (max-width: (3 * ($card-min + $gap) - 1px)) {
    .container {
      padding: 2em 1.5em;
    }
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
nav .menu {
  float: right;

  @media (max-width: 525px) {
    a {
      display: none;
    }
  }
}
nav .menu li {
  display: inline-block;
  padding-left: 4vw;
}

.logo {
  display: inline-block;
  background-color: #F9FF00;
}

p {
	padding-bottom: 1em;
  font-style: italic;
}

.about {
    padding: 0 1.5em 1.5em;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
  font-size: 8vw;
	font-weight: 700;
	text-align: center;
}

// mobile
@media (max-width: (2 * ($card-min + $gap) - 1px)) {
  h1 {
    font-size: 3rem;
  }
}

.email {
	display: inline;
	li {
		display: inline;
	}
}
