@import 'clearfix';
@import 'variables';
@import 'cards';
@import 'fullScreenMenu';
@import 'hamburger';

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: georgia,serif;
    color: $primary-font-color;
    background-color: #EEE5D8;
}

a {
	text-decoration: none;
	color: $link-font-color;
  transition: color .2s;

  &:hover {
    color: white;
  }
}

.container {
    padding: 4em 1.5rem;
}

#home {
  position: relative;
  letter-spacing: -10px;
  color: rgba(255, 55, 55, 0.75);

  span:first-child {
    position: absolute;
    left: -12px;
    color: rgba(40, 133, 255, 0.75);
  }

  span:last-child {
    position: absolute;
    left: 12px;
    z-index: -1;
    color: rgba(255, 255, 49, 0.75);
  }
}

#projects, #play {
  position: relative;
}

// mobile
@media (max-width: (2 * ($card-min + $gap) - 1px)) {
  .container {
    padding: 2em 0;
  }
}

// tablet
@media (min-width: (2 * ($card-min + $gap)))
        and (max-width: (3 * ($card-min + $gap) - 1px)) {
    .container {
      padding: 2em 1.5em;
    }
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 0.5em;
}
nav .menu {
  float: right;

  @media (max-width: 525px) {
    a {
      display: none;
    }
  }
}
nav .menu li {
  display: inline-block;
  padding-left: 4vw;
}

.logo {
  display: inline-block;
}

.about {
    padding: 0 1.5em 1.5em;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

h1 {
	font-family: 'Open Sans', sans-serif;
  font-size: 8vw;
	font-weight: 700;
	text-align: center;
  letter-spacing: -5px;
}

// mobile
@media (max-width: (2 * ($card-min + $gap) - 1px)) {
  h1 {
    font-size: 3rem;
  }
}

.email {
	display: inline;
	li {
		display: inline;
	}
}

.arrow-right {
  position: absolute;
  top: 20%;
	width: 0;
	height: 0;
  border-top: 5vw solid transparent;
  border-bottom: 5vw solid transparent;
}

.arrow-blue {
  z-index: -1;
  right: 55%;
  border-right: 8vw solid rgba(40, 133, 255, 0.75);
}

.arrow-red {
  z-index: -2;
  right: 56%;
  border-right: 8vw solid rgba(255, 55, 55, 0.75);
}

.arrow-yellow {
  z-index: -3;
  right: 57%;
  border-right: 8vw solid rgba(255, 255, 49, 0.75);
}

.circle {
  position: absolute;
  top: 23%;
  width: 10vw;
  height: 10vw;
  border-radius: 75px;
}

.circle-blue {
  left: 60%;
  z-index: -1;
  background-color: rgba(40, 133, 255, 0.75);
}

.circle-red {
  left: 61%;
  z-index: -2;
  background-color: rgba(255, 55, 55, 0.75);
}

.circle-yellow {
  left: 62%;
  z-index: -3;
  background-color: rgba(255, 255, 49, 0.75);
}

.project {
  display: block;
  text-align: center;
  padding: 2em;
  max-width: 770px;
  margin: 0 auto;

  a {
    margin: 0 auto;
  }

  span:first-child {
    color: $primary-font-color;
  }

  span:last-child {
    display: block;
  }
}

.description {
  font-size: 1.4em;
}

small {
    font-size: .7em;
}
