@import 'clearfix';
@import 'variables';
@import 'cards';
@import "fullScreenMenu";

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: georgia,serif;
    color: $primary-font-color;
}

a {
	text-decoration: none;
	color: $link-font-color;
}

.container {
    padding: 4em 1.5rem;
}

.hero {
    // padding-bottom: 1.5rem;
    /*background-color: $hero;*/
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
nav .menu {
  float: right;
}
nav .menu li {
  float: left;
  padding-left: 4vw;
}

.logo {
  display: inline-block;
}

p {
	padding-bottom: 1em;
    font-style: italic;
}

.about {
    padding: 1.5em 1.5em 0 1.5em;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    background-image:

    li {
    	display: inline;
    	font-style: italic;
    	float: left;
    }
}



.projects {
  // background-color: #C8FF00;
  // text-align: center;
  //
	// div {
	// 	  position: relative;
	//     width: 22rem;
	//     height: 23rem;
	//     display: inline-block;
	//     margin: 1rem;
	//     border: 5px solid $borders;
  //     background-color: #FFFFFF;
	// 	  transition: all .2s;
  //
	//     &:first-child {
	//     	border: 5px dashed $borders;
	//     }
  //
	//     &:hover {
	//     	cursor: pointer;
	//     	background: $borders;
	//     	color: #fff;
	//     	transition: all .2s;
  //
	// 	    &:first-child {
	// 	    	border: 5px dashed #fff;
	// 	    }
  //
	//     	span:last-child {
	//     		bottom: 3.5rem;
	//     		transition: bottom .2s;
	//     	}
	//     }
  //
	// 	span {
	// 		display: inline-block;
  //
  //     &:nth-child(2n) {
  //       display: block;
  //   		padding-top: 1rem;
  //     }
  //
	// 		&:last-child {
	// 			position: absolute;
	// 			bottom: 2.5rem;
	// 	    transition: bottom .2s;
	// 		}
	// 	}
  //
  //   a {
  //     display: inline-block;
  //     position: relative;
  //     height: 100%;
	//     padding: 2.5rem;
  //   }
  //
	// 	.year {
	// 	    font-size: .8em;
	// 	    border-bottom: 3px solid $borders;
	// 	    padding: 0 1rem .5rem 1rem;
	// 	}
	// }
}

h1 {
	font-family: 'Ubuntu', sans-serif;
  font-size: 8vw;
	font-weight: 300;
	text-align: center;
}

.email {
	display: inline-block;
	ul {
		display: inline-block;
		float: left;
	}
}
