@import 'clearfix';
@import 'variables';
@import 'fullScreenMenu';
@import 'hamburger';
@import 'shapes';

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: georgia,serif;
    color: $primary-font-color;
    background-color: #EEE5D8;
}

a {
	text-decoration: none;
	color: $link-font-color;
  transition: color .2s;

  &:hover {
    color: white;
  }
}

.container {
    padding: 4em 1.5rem;
}

.luke-mesiti {
  position: relative;
  color: rgba(255, 55, 55, 0.75);

  span:first-child {
    position: absolute;
    left: -0.1em;
    color: rgba(40, 133, 255, 0.75);
  }

  span:last-child {
    position: absolute;
    left: 0.1em;
    z-index: -1;
    color: rgba(255, 255, 49, 0.75);
  }
}

#projects, #play {
  position: relative;
}

nav {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 0.5em;
  overflow: visible;

  .menu {
    float: right;

    @media (max-width: $hide-menu-headings) {
      a {
        display: none;
      }
    }

    li {
      display: inline-block;
      line-height: 1;
    }
  }
}

.logo {
  display: inline-block;
}

.about {
    padding: 0 1.5em 1.5em;
    max-width: $page-max-width;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

h1 {
	font-family: 'Open Sans', sans-serif;
  font-size: 10vw;
	font-weight: 600;
	text-align: center;
  letter-spacing: -0.03em;
  line-height: 1;

  &.luke-mesiti {
    letter-spacing: -0.1em;
  }
}

.email {
	display: inline;

	li {
		display: inline;
	}
}

.project {
  display: block;
  text-align: center;
  padding: 2em;
  max-width: $page-max-width;
  margin: 0 auto;

  a {
    margin: 0 auto;
  }

  span:first-child {
    color: $primary-font-color;
  }

  span:last-child {
    display: block;
  }
}

.description {
  font-size: 1.2em;
}

small {
    font-size: .7em;
}

@media (max-width: $mobile-break-point) {
  .container {
    padding: 1em 0;
  }

  .about {
    padding: 0 .5em 1.5em;
  }

  h1 {
    font-size: 4.5rem;
  }

  .project {
    padding: 1.5em .5em;
  }
}

img {
  display: block;
  width: 1361px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
